###########################
# OmniROM oppo common sepolicy
#

allow bootanim rootfs:lnk_file getattr;
allow bootanim gpu_sysfs:file r_file_perms;
allow bootanim gpu_sysfs:dir search;
