###########################
# OmniROM oppo common sepolicy
#

allow qti_init_shell sdcardd_exec:file execute_no_trans;
allow qti_init_shell fuse:filesystem mount;
