allow netmgrd { shell_exec toolbox_exec }:file rx_file_perms;
allow netmgrd netd_socket:sock_file { open getattr read write append };
allow netmgrd net_data_file:file r_file_perms;
allow netmgrd net_data_file:dir r_dir_perms;
allow netmgrd self:capability dac_override;
