###########################
# OmniROM oppo common sepolicy

allow netmgrd self:capability dac_override;
allow netmgrd diag_device:chr_file { rw_file_perms };
