allow platform_app gpu_device:chr_file rw_file_perms;
allow platform_app sysfs_kgsl:{file lnk_file} r_file_perms;
allow platform_app sysfs_kgsl:dir r_dir_perms;
