allow priv_app proc_interrupts:file r_file_perms;
allow priv_app device:dir { read open };
#set_prop(priv_app, firstboot_prop);
allow priv_app adbd_exec:file { read open };
allow priv_app atrace_exec:file { read open };
allow priv_app audioserver_exec:file { read open };
allow priv_app blkid_exec:file { read open };
allow priv_app bootanim_exec:file { read open };
allow priv_app bootstat_exec:file { read open };
allow priv_app cameraserver_exec:file { read open };
allow priv_app clatd_exec:file { read open };
allow priv_app dexoptanalyzer_exec:file { read open };
allow priv_app dnsmasq_exec:file { read open };
allow priv_app drmserver_exec:file { read open };
allow priv_app dumpstate_exec:file { read open };
allow priv_app fsck_exec:file { read open };
allow priv_app e2fs_exec:file { read open };
allow priv_app gatekeeperd_exec:file { read open };
allow priv_app healthd_exec:file { read open };
allow priv_app hal_allocator_default_exec:file { read open };
allow priv_app hwservicemanager_exec:file { read open };
allow priv_app idmap_exec:file { read open };
allow priv_app incident_exec:file { read open };
allow priv_app mac_perms_file:file { read getattr open };
allow priv_app persist_file:file { getattr };
allow priv_app vndservice_contexts_file:file { getattr };
allow priv_app sepolicy_file:file { getattr };
allow priv_app service_contexts_file:file { getattr }
allow priv_app seapp_contexts_file:file { getattr };
allow priv_app hwservice_contexts_file:file { getattr };
allow priv_app file_contexts_file:file { getattr };
allow priv_app cgroup:dir { read open };
allow priv_app configfs:dir { read open };
allow priv_app configfs:file { getattr };
allow priv_app mnt_media_rw_file:dir { getattr };
allow priv_app asec_apk_file:dir { read open getattr };
allow priv_app adb_data_file:dir {read open getattr };
allow priv_app firmware_file:file { getattr };
allow priv_app adb_data_file:file { getattr };
allow priv_app persist_file:dir { read open };
allow priv_app persist_usf_file:dir { getattr read open };
allow priv_app persist_usf_file:lnk_file { getattr };
allow priv_app persist_file:file { getattr };
allow priv_app sensors_persist_file:dir { getattr read open };
allow priv_app sensors_persist_file:file { getattr };
allow priv_app persist_drm_file:dir { getattr };
allow priv_app persist_bluetooth_file:dir { getattr };
allow priv_app cache_private_backup_file:dir { getattr };
allow priv_app wifi_prop:file { getattr read open };
allow priv_app sepolicy_file:file { read open };
allow priv_app radio_data_file:dir { getattr };
allow priv_app system_app_data_file:dir { getattr };
allow priv_app nfc_data_file:dir { getattr };
allow priv_app bluetooth_data_file:dir { getattr };
allow priv_app net_dns_prop:file { open getattr };
