allow system_server gpu_device:chr_file rw_file_perms;

allow system_server sensors_device:chr_file r_file_perms;

unix_socket_connect(system_server, sensors, sensors)
unix_socket_send(system_server, sensors, sensors)
allow system_server sensors:unix_stream_socket sendto;
allow system_server sensors_socket:sock_file r_file_perms;

allow system_server qti_debugfs:file r_file_perms;

qmux_socket(system_server);

allow system_server proc_touchpanel:file rw_file_perms;
allow system_server proc_touchpanel:dir { search };
allow system_server sysfs_vibrator:file rw_file_perms;
allow system_server sysfs_vibrator:dir search;
allow system_server proc_audiod:file r_file_perms;
dontaudit system_server dalvikcache_data_file:file { execute write };
