[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Find7(op) maintainers
	label-Verified = -1..+1 group Find7(op) maintainers
	submit = group Find7(op) maintainers
	push = +force group Find7(op) maintainers
	pushMerge = group Find7(op) maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Find7(op) maintainers
